# Supabase Configuration
VITE_SUPABASE_URL=https://zspoysqpagtytbvxmyyn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpzcG95c3FwYWd0eXRidnhteXluIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2NTc4NjIsImV4cCI6MjA5MzIzMzg2Mn0.12qZc6C1naIzJtM-ntAMNhy0ClP1d11_gQgxRr_h1TM
